@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Montserrat+Alternates:wght@200&display=swap");
body {
  overflow-x: hidden;
}

.AccueilSection1 {
  height: 560px;
  background-image: url("../../public/img/visuel-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-left: 155px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  position: relative;
}
.AccueilSection1 h3 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #373737;
  text-transform: uppercase;
  padding-left: 5%;
}
.AccueilSection1 p {
  width: 50%;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  padding-left: 5%;
}

.AccueilSection2 {
  position: relative;
  background-color: #e7e7e7;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 300px;
}
.AccueilSection2 .container {
  min-height: 450px;
  position: absolute;
  top: -30vh;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 75%;
  margin: 0 auto;
}
.AccueilSection2 .container > div {
  height: 500px;
  width: 32%;
  display: flex;
  flex-direction: column;
}
.AccueilSection2 .container > div > div {
  height: 225px;
  box-shadow: 1px 1px 5px #373737;
}
.AccueilSection2 .container > div > div:nth-child(1) {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(90deg, #7e50a8, #d563a7);
}
.AccueilSection2 .container > div > div:nth-child(1) h4 {
  font-weight: bold;
  height: 50px;
  font-size: 1.2em;
}
.AccueilSection2 .container > div > div:nth-child(1) a {
  width: 80%;
  display: inline-block;
  padding: 5px 2px;
  background-color: #fff;
  color: #202020;
  font-weight: 900;
  border-radius: 20px;
  height: 45px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: 0.2s;
}
.AccueilSection2 .container > div > div:nth-child(1) a:hover {
  transition: 0.2s;
  transform: scale(1.01);
  background-color: #ededed;
}
.AccueilSection2 .container > div > div:nth-child(1) i {
  font-size: 3em;
  color: #fff;
}
.AccueilSection2 .container > div > div:nth-child(2) {
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
.AccueilSection2 .container > div > div:nth-child(2) p {
  font-size: 1em;
  font-weight: bold;
}
.AccueilSection2 .container > div:nth-child(2) > div:nth-child(1) {
  background-image: linear-gradient(90deg, #2491ee, #1cc7f2);
}
.AccueilSection2 .container > div:nth-child(3) > div:nth-child(1) {
  background-image: linear-gradient(90deg, #00915a, #5ec66b);
}

.AccueilSection3 {
  background-color: rgba(255, 255, 255, 0.8705882353);
  padding: 30px 30px 30px 155px !important;
}
.AccueilSection3 h4 {
  margin: 0;
  padding: 0;
  font-size: 700;
}
.AccueilSection3 .container {
  margin-top: 30px;
  height: 90vh;
  padding: 50px;
  display: flex;
  gap: 30px;
}
.AccueilSection3 .container div {
  width: calc((100% - 30px) / 2);
}
.AccueilSection3 .container > div:nth-child(1) {
  display: flex;
  gap: 20px;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.AccueilSection3 .container > div:nth-child(1) > div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10;
  box-shadow: 1px 1px 5px #373737;
}
.AccueilSection3 .container > div:nth-child(1) > div div {
  height: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  color: #1e1e1e;
  font-weight: bold;
  padding: 10px;
}
.AccueilSection3 .container > div:nth-child(1) > div div p {
  font-size: 0.9em;
}
.AccueilSection3 .container > div:nth-child(1) > div div h6 {
  font-weight: inherit;
}
.AccueilSection3 .container > div:nth-child(1) > div div i {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 3em;
  color: #036640;
}
.AccueilSection3 .container > div:nth-child(1) > div div:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.AccueilSection3 .container > div:nth-child(1) > div div:nth-child(3) {
  position: relative;
}
.AccueilSection3 .container > div:nth-child(1) > div div:nth-child(3) a {
  position: absolute;
  bottom: 20px;
  background-color: #00915a;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  width: 80%;
  margin: 0 auto;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.AccueilSection3 .container > div:nth-child(1) > div div:nth-child(3) a:hover {
  background-color: #036640;
  transition: 0.2s;
}
.AccueilSection3 .container > div:nth-child(1) > div:nth-child(1) {
  background-color: yellow;
}
.AccueilSection3 .container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 1px 5px #373737;
}
.AccueilSection3 .container > div:nth-child(2) div {
  width: 100%;
  padding: 10px;
  position: relative;
}
.AccueilSection3 .container > div:nth-child(2) div div {
  position: relative;
}
.AccueilSection3 .container > div:nth-child(2) div div h4 {
  font-weight: bold;
  font-size: 1.1em;
  padding: 25px 0;
}
.AccueilSection3 .container > div:nth-child(2) div div p {
  font-size: 0.9em;
  font-weight: bold;
}
.AccueilSection3 .container > div:nth-child(2) div div a {
  display: block;
  text-decoration: none;
  color: #00915a;
  position: absolute;
  background-color: #00915a;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.AccueilSection3 .container > div:nth-child(2) div div a:hover {
  background-color: #036640;
  transition: 0.2s;
}

.AccueilSection4 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("../../public/img/pret-bancaire-portugal.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.AccueilSection4 h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 3px #373737;
  color: #fff;
  font-stretch: condensed;
}

.AccueilSection5 {
  padding: 30px 30px 30px 155px !important;
  background-color: #e7e7e7;
  min-height: 80vh;
}
.AccueilSection5 h2 {
  text-transform: uppercase;
}
.AccueilSection5 .row {
  width: 75%;
  margin: 0 auto;
  padding: 10px 5px;
}
.AccueilSection5 .row > div:nth-child(2) {
  background-image: url("../../public/img/conso-pret-perso-banquepostale.jpg");
  background-size: cover;
  background-position: center center;
  object-fit: fill;
}
.AccueilSection5 .row .accordion-item button {
  font-weight: bolder;
}
.AccueilSection5 .row .accordion-body {
  display: flex;
  flex-direction: column;
}
.AccueilSection5 .row .accordion-body a {
  display: flex;
  width: 50%;
  margin: 10px auto;
  bottom: 10px;
  background-color: #00915a;
  color: #fff;
  height: 45px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.2s;
}
.AccueilSection5 .row .accordion-body a:hover {
  transform: scale(1.05);
  transition: 0.2s;
  background-color: #036640;
}
.AccueilSection5 p {
  margin: 0;
  padding: 0;
}

.AccueilSection6 {
  padding: 120px 0;
}
.AccueilSection6 .owl-carousel .active {
  height: 120px;
  width: camc(100vw/5) !important;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: fill;
}
.AccueilSection6 .owl-carousel .owl-item:nth-child(4) {
  background-image: url("../../public/img/2.png");
}
.AccueilSection6 .owl-carousel .owl-item:nth-child(3) {
  background-image: url("../../public/img/3.png");
}
.AccueilSection6 .owl-carousel .owl-item:nth-child(4) {
  background-image: url("../../public/img/4.jpg");
}
.AccueilSection6 .owl-carousel .owl-item:nth-child(4) {
  background-image: url("../../public/img/5.png");
}
.AccueilSection6 .owl-carousel .owl-item:nth-child(4) {
  background-image: url("../../public/img/7.jpg");
}
.AccueilSection6 .owl-carousel .owl-item:nth-child(4) {
  background-image: url("../../public/img/8.png");
}
.AccueilSection6 button {
  display: none !important;
}

.AccueilSection7 {
  padding: 30px 30px 30px 155px !important;
}
.AccueilSection7 > div {
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.AccueilSection7 > div > div:nth-child(1) {
  width: 450px;
  height: 100%;
  background-image: url("../../public/img/A.jpeg");
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AccueilSection7 > div > div:nth-child(1) div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(0, 145, 90, 0.1);
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-flow: column wrap;
  box-shadow: 1px 1px 1px #00915a;
}
.AccueilSection7 > div > div:nth-child(1) div h1 {
  color: #00915a;
  font-size: 3em;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px #00915a;
}
.AccueilSection7 > div > div:nth-child(1) div h3 {
  color: #fff;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-shadow: 1px 0px 5px #00915a;
}
.AccueilSection7 > div > div:nth-child(2) {
  width: calc(100% - 450px);
  border: 5px solid #00915a;
  padding: 20px;
  color: #036640;
}
.AccueilSection7 > div > div:nth-child(2) div {
  position: relative;
}
.AccueilSection7 > div > div:nth-child(2) div > div {
  height: 50px;
  position: relative;
}
.AccueilSection7 > div > div:nth-child(2) div > div > div {
  margin: 0;
  padding: 0;
  height: auto;
}
.AccueilSection7 > div > div:nth-child(2) div > div .sliderContainer {
  width: 100%;
  margin-top: 10px;
  position: relative;
  height: 50px;
  padding-top: 10px;
}
.AccueilSection7 > div > div:nth-child(2) div > div .sliderContainer > div input {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background-color: #00915a;
  outline: none;
  opacity: 0.7;
}
.AccueilSection7 > div > div:nth-child(2) div > div .sliderContainer > div input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 5px;
  background-color: #02432a;
  cursor: pointer;
}
.AccueilSection7 > div > div:nth-child(2) div > div .sliderContainer > div p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.AccueilSection7 > div > div:nth-child(2) div > div .sliderContainer > div p span {
  font-weight: bolder;
}
.AccueilSection7 > div > div:nth-child(2) div > div .sliderContainer > div p span:nth-child(2) {
  position: absolute;
  color: #036640;
  top: 0;
  left: 50%;
  transform: translateX(-60%);
}

/*# sourceMappingURL=Accueil.css.map */
