@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Montserrat+Alternates:wght@200&display=swap");
section {
  padding: 10px 20px;
}

#AccueilSection1 {
  height: 100vh;
  background-image: url("../../public/img/visuel-home.jpg");
  background-position: center center;
  background-size: cover;
  object-fit: fill;
  position: relative;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}
#AccueilSection1 h2 {
  width: 50%;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #036640;
}
#AccueilSection1 p {
  width: 50%;
  font-size: 1.2em;
}
#AccueilSection1 .container {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  height: 75vh;
  display: flex;
  justify-content: space-between;
}
#AccueilSection1 .container > div {
  height: 450px;
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px #373737;
}
#AccueilSection1 .container > div div {
  height: 50%;
  padding: 20px;
}
#AccueilSection1 .container > div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#AccueilSection1 .container > div div:nth-child(1) p {
  width: 100%;
  text-align: center;
}
#AccueilSection1 .container > div div:nth-child(1) p:nth-child(3) {
  font-size: 0.8em;
}
#AccueilSection1 .container > div div:nth-child(1) p i {
  font-size: 3em;
  color: #fff;
  font-weight: lighter;
}
#AccueilSection1 .container > div div:nth-child(1) p a {
  padding: 5px;
  height: 50px;
  background-color: #00915a;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #373737;
  font-size: 0.9em;
}
#AccueilSection1 .container > div div:nth-child(1) p a:hover {
  background-color: #036640;
  transition: 0.2s;
}
#AccueilSection1 .container > div div:nth-child(2) {
  display: block;
  background-color: #fff;
}
#AccueilSection1 .container > div div:nth-child(2) p {
  width: 100%;
  font-size: 1.1em;
  color: #036640;
  font-weight: bold;
}
#AccueilSection1 .container > div:nth-child(1) div:nth-child(1) {
  background-image: linear-gradient(90deg, #00915a, #5ec66b);
}
#AccueilSection1 .container > div:nth-child(2) div:nth-child(1) {
  background-image: linear-gradient(90deg, #2491ee, #1cc7f2);
}
#AccueilSection1 .container > div:nth-child(3) div:nth-child(1) {
  background-image: linear-gradient(90deg, #7e50a8, #d563a7);
}

#AccueilSection2 {
  min-height: 50vh;
  background-color: rgba(221, 221, 221, 0.5568627451);
}

#AccueilSection3 {
  padding: 10px;
}
#AccueilSection3 h2 {
  font-weight: bolder;
  padding: 10px 20px;
}
#AccueilSection3 a {
  display: block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  margin: 10px auto;
  background-color: #00915a;
  border-radius: 10px;
  color: #fff !important;
  transition: 0.2s;
  font-weight: 500;
}
#AccueilSection3 a:hover {
  background-color: #036640;
  transition: 0.2s;
}
#AccueilSection3 .stepsWrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#AccueilSection3 .stepsWrapper > div {
  width: 30%;
}
#AccueilSection3 .stepsWrapper > div > div {
  background-image: url("../../public/img/inscription.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #036640;
  object-fit: contain;
  display: block;
  margin: 5px auto;
  position: relative;
}
#AccueilSection3 .stepsWrapper > div > div span {
  width: 50px;
  height: 50px;
  background-color: #00915a;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid #fff;
  color: #fff;
  font-weight: bolder;
}
#AccueilSection3 .stepsWrapper > div p span {
  background-color: #00915a;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#AccueilSection3 .stepsWrapper > div:nth-child(2) > div {
  background-image: url("../../public/img/documents.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #036640;
  object-fit: contain;
  display: block;
  margin: 5px auto;
  position: relative;
}
#AccueilSection3 .stepsWrapper > div:nth-child(3) > div {
  background-image: url("../../public/img/approved.webp");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #036640;
  object-fit: contain;
  display: block;
  margin: 5px auto;
  position: relative;
}

#AccueilSection4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url("../../public/img/c3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
#AccueilSection4 h2 {
  font-size: 2em;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px 1px #00915a;
  text-transform: uppercase;
}

#AccueilSection6 {
  padding: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 221, 221, 0.5568627451);
}
#AccueilSection6 .row > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
#AccueilSection6 .row > div:nth-child(1) h4 {
  font-weight: bolder;
  text-align: center;
}
#AccueilSection6 .row > div:nth-child(2) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#AccueilSection5 {
  padding: 10px;
}
#AccueilSection5 .row img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#AccueilSection5 .row div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#AccueilSection5 .row div:nth-child(2) h4 {
  font-weight: bolder;
  font-size: 2.5em;
}
#AccueilSection5 .row div:nth-child(2) p {
  font-size: 1.4em;
}
#AccueilSection5 .row div:nth-child(2) p a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #036640;
  transition: 2s;
  font-weight: 500;
  border-radius: 10px;
}
#AccueilSection5 .row div:nth-child(2) p a:hover {
  background-color: #00915a;
  text-decoration: none;
  transform: scale(1.01);
}

#AccueilSection7 {
  display: flex;
  padding: 15px;
}
#AccueilSection7 div {
  padding: 10px;
}
#AccueilSection7 div a {
  background-color: #00915a;
  color: #fff;
  transition: 0.2s;
}
#AccueilSection7 div a:hover {
  background-color: #036640;
  transition: 0.2s;
  text-decoration: none;
}
#AccueilSection7 > div:nth-child(1) {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#AccueilSection7 > div:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#AccueilSection7 > div:nth-child(2) > div {
  display: block;
  width: 100%;
}
#AccueilSection7 > div:nth-child(2) > div h4 {
  font-weight: bolder;
}
#AccueilSection7 > div:nth-child(2) > div p {
  font-size: 1.3em;
  font-weight: 500;
}
#AccueilSection7 > div:nth-child(2) > div > div {
  display: block;
}
#AccueilSection7 > div:nth-child(2) > div > div p {
  font-size: 1.2em;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range {
  width: 100%;
  height: 75px;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range .field {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range .field span {
  display: block;
  width: 90px;
  font-size: 0.8em;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range .field input {
  width: 90%;
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background-color: #00915a;
  outline: none;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 16px;
  background-color: #036640;
  cursor: pointer;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range .sliderValue {
  margin: 0;
  padding: 0;
  position: relative;
  height: 40px;
  width: 80%;
  margin: 0 auto;
}
#AccueilSection7 > div:nth-child(2) > div:nth-child(2) .range .sliderValue span {
  position: absolute;
  transform: translateX(-50%);
}

#AccueilSection8 {
  padding: 20px 10px;
  background-color: rgba(221, 221, 221, 0.5568627451);
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#AccueilSection8 h4 {
  font-weight: bold;
  margin-bottom: 20px !important;
}
#AccueilSection8 > .slider-1 {
  margin: 10px auto;
  overflow-x: hidden;
}
#AccueilSection8 > .slider-1 > .sliders {
  display: flex;
  animation: Sico 12s infinite ease-in-out;
}
#AccueilSection8 > .slider-1 > .sliders > p {
  margin: 5px;
  flex-shrink: 0;
  width: 20%;
}
#AccueilSection8 > .slider-1 > .sliders > p img {
  width: 100%;
}

#AccueilSection9 {
  height: 50vh;
  display: flex;
  align-items: center;
  background-image: url("../../public/img/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin: 0;
  padding: 0;
}
#AccueilSection9 > .cover {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #13031b;
  opacity: 0.7;
  z-index: 0;
}
#AccueilSection9 > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
}
#AccueilSection9 > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  height: 120px;
  color: #00915a;
  background-color: rgba(255, 255, 255, 0.863);
  width: 20%;
  padding: 10px;
  height: 250px;
  box-shadow: 2px 0px 3px #141414;
}
#AccueilSection9 > div:nth-child(2) > div .counter {
  font-size: 2.5em;
  font-weight: bolder;
  color: #036640;
}
#AccueilSection9 > div:nth-child(2) > div i {
  font-size: 4em;
  color: inherit;
}
#AccueilSection9 > div:nth-child(2) > div p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
#AccueilSection9 > div:nth-child(2) > div h6 {
  font-weight: bolder;
  font-size: 1.7em;
}

#AccueilSection10 {
  min-height: 50vh;
  padding: 10px 0;
}
#AccueilSection10 > div img {
  width: 100%;
  object-fit: contain;
}
#AccueilSection10 > div > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px 10px;
}
#AccueilSection10 > div > div p, #AccueilSection10 > div > div h4 {
  font-size: 1.4em;
  color: #00915a;
  font-weight: bold;
}

#AccueilSection11 {
  background-color: rgba(221, 221, 221, 0.5568627451);
  padding: 50px 10px;
}
#AccueilSection11 > div {
  display: grid;
  min-height: 50vh;
  grid-template-columns: 7fr 7fr;
}
#AccueilSection11 > div > div:nth-child(1) iframe {
  width: 100%;
  height: 100%;
}
#AccueilSection11 > div > div:nth-child(2) {
  padding: 10px;
}
#AccueilSection11 > div > div:nth-child(2) .container > div > div textarea {
  height: 120px !important;
}
#AccueilSection11 > div > div:nth-child(2) .container > div button {
  width: 80%;
  color: #fff;
  margin: 0 auto;
  background-color: #00915a;
}
#AccueilSection11 > div > div:nth-child(2) .container > div button:hover {
  background-color: #036640;
  transition: 0.2s;
  transform: scale(1.02);
}

#AccueilSection12 {
  background-color: #00915a;
  min-height: 50vh;
  color: #fff;
  font-weight: 500;
  padding: 20px;
}
#AccueilSection12 h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
#AccueilSection12 p {
  font-size: 1.1em;
}
#AccueilSection12 .container {
  width: 70%;
  margin: 10px auto;
}
#AccueilSection12 .container > div {
  display: flex;
  justify-content: space-between;
}
#AccueilSection12 .container > div > div {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#AccueilSection12 .container > div > div i {
  font-size: 3em;
}
#AccueilSection12 .container > div > div p {
  font-size: 2em;
}
#AccueilSection12 .container > div > div p:nth-child(2) {
  font-weight: bolder;
}
#AccueilSection12 .container2 {
  background-color: #fff !important;
  color: #00915a;
  min-height: 50vh;
  padding: 25px 5px;
  color: #00915a;
}
#AccueilSection12 .container2 > div {
  display: flex;
  justify-content: center;
}
#AccueilSection12 .container2 > div i {
  font-size: 3em;
  margin: 0 10px;
  color: #00915a;
}
#AccueilSection12 .container2 > div p {
  font-size: 2em;
  text-transform: uppercase;
}
#AccueilSection12 .container2 > div:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#AccueilSection12 .container2 > div:nth-child(2) > div {
  width: 30%;
  text-align: center;
}
#AccueilSection12 .container2 > div:nth-child(2) > div i {
  font-size: 4em;
}
#AccueilSection12 .container2 > div:nth-child(2) > div > div {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: #202020;
}
#AccueilSection12 .container2 > div:nth-child(2) > div > div > p:nth-child(1):nth-child(1) {
  font-size: 3em;
  color: #00915a;
}
#AccueilSection12 .container2 > div:nth-child(2) > div > div > p:nth-child(1):nth-child(2) {
  font-size: 0.9em;
  font-weight: bold;
}
#AccueilSection12 .container2 > div:nth-child(2) > div > div > p:nth-child(2) {
  font-size: 1.5em;
  font-weight: bold;
}
#AccueilSection12 .container2 > div:nth-child(2) > div > p {
  font-size: 0.8em;
  font-weight: bold;
  color: #373737;
}

@keyframes Sico {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-20%);
  }
  50%, 70% {
    transform: translateX(-40%);
  }
  75%, 95% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-80%);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@media screen and (max-width: 720px) {
  #AccueilSection1 h2 {
    font-size: 1.1em;
  }
  #AccueilSection1 p {
    font-size: 0.9em;
    width: 80%;
  }
  #AccueilSection1 .container {
    width: 90%;
    flex-direction: column;
  }
  #AccueilSection1 .container > div {
    width: 90%;
    min-height: 450px;
    margin: 10px 0;
    box-shadow: 0px 0px 5px #373737;
  }
  #AccueilSection2 {
    min-height: 200vh;
    background-color: rgba(221, 221, 221, 0.5568627451);
  }
  #AccueilSection3 .stepsWrapper {
    flex-direction: column;
  }
  #AccueilSection3 .stepsWrapper > div {
    width: 90%;
    margin: 5px auto;
  }
  #AccueilSection6 .credit-card.visa {
    width: 270px;
    height: 175px;
    transform: rotate(0deg);
  }
  #AccueilSection7 {
    flex-direction: column;
    padding: 5px;
  }
  #AccueilSection7 > div {
    width: 100% !important;
    padding: 2px;
  }
  #AccueilSection7 > div:nth-child(1) {
    width: 100%;
    z-index: 1;
  }
  #AccueilSection9 {
    height: auto !important;
  }
  #AccueilSection9 > div:nth-child(2) {
    flex-direction: column;
    min-height: 50vh;
  }
  #AccueilSection9 > div:nth-child(2) > div {
    width: 80%;
    margin: 10px auto;
  }
  #AccueilSection10 .row {
    flex-direction: column;
  }
  #AccueilSection10 .row > div:nth-child(1) {
    width: 100% !important;
  }
  #AccueilSection10 .row > div:nth-child(1) div {
    width: 100% !important;
  }
  #AccueilSection10 .row > div:nth-child(2) {
    padding: 20px !important;
    font-size: 0.9em;
  }
  #AccueilSection11 > div {
    grid-template-columns: 7fr;
  }
  #AccueilSection12 h2 {
    font-size: 1.5em;
    text-align: center;
  }
  #AccueilSection12 p {
    font-size: 0.9em;
  }
  #AccueilSection12 .container {
    width: 100%;
  }
  #AccueilSection12 .container > div {
    display: flex;
    flex-direction: column;
  }
  #AccueilSection12 .container > div div {
    width: 100%;
    min-height: 200px;
    margin: 10px 0;
  }
  #AccueilSection12 .container2 {
    flex-direction: column;
    margin: 0;
  }
  #AccueilSection12 .container2 > div {
    flex-direction: column;
    align-items: center;
  }
  #AccueilSection12 .container2 > div:nth-child(1) p {
    font-size: 1.2em;
    text-align: center;
  }
  #AccueilSection12 .container2 > div:nth-child(2) > div {
    width: 100%;
  }
  #AccueilSection12 .container2 > div:nth-child(2) > div > div {
    width: 100%;
  }
  #AccueilSection12 .container2 > div:nth-child(2) > div > div > p:nth-child(2) {
    font-size: 1em;
    padding: 5px 3px;
  }
  #AccueilSection12 .container2 > div:nth-child(2) > div > p {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=Accueil2.css.map */
