$themeColor1:#036640;
$themeColor2:#00915a;
$themeGris:#373737;
$fond1:#e7e7e7;
$fond2:#ffffffde;
$largeurAside:130px;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

*{
    font-family: 'Oswald', sans-serif !important;
}
