@import "_variables.scss";
#Section1{
    min-height: 50vh;
    margin: 0;
    padding: 0;
   
    &>div{
        min-height: 50vh !important;
        background-image: url('../../public/img/epargne/1.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        min-height: 100%;
        z-index: 1 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;

        &>.cover{
            background-color: #13805f69;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
        }

        &>div:nth-child(2){
            width: 70%;
            background-color: #fff;
            z-index: 2;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &>h2{
                font-weight: 1.3em;
                font-weight: bold;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
            }
            &>p{
                width: 70%;
                text-align: center;
                font-size: 1.1em;
                font-weight: bold;

            }
            &>a{
                background-color: $themeColor2;
                text-decoration: none;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                transition: 0.2s;

                &:hover{
                    transform: scale(1.02);
                    background-color: $themeColor1;
                    transition: 0.2s;
                }
            }
        }
    }
    

}

#Section2{    
   margin: 10px 0;

    &>.container{
        background-color: $themeColor2;
        color: #fff;
        padding: 20px 0px;

       &>div{
        h4{
            font-weight: bold;
            width: 100%;
            text-align: center;
            font-weight: 1.5em;
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
        }
        &>div{
            p{
                padding: 20px 0;
            }
            &>p:nth-child(1){
                font-size: 1.5em;
                text-align: center;
                font-weight: bold;

                &>span{
                    background-color: #fff;
                    color: $themeColor2;
                    padding: 5px 10px;
                }
            }
            &>p:nth-child(2){
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
            }
            &>p:nth-child(3){
                text-align: center;

                &>a{
                    background-color: #fff;
                    color: $themeColor2;
                    padding:10px;
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: bold;
                    transition: 0.2s;

                    &:hover{
                        transform: scale(1.1);
                        transition: 0.2s;
                        
                    }
                }
            }
        }
       }
    }
}

#Section3{
    padding: 20px 10px 20px 75px;
    
    &>.container{
        h4{
            padding: 10px 20px;
            font-size: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
            color: $themeColor2;
        }
    
        &>div{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 10px;
    
            &>div{
                height: 300px;
                padding: 10px;
                margin: 0 5px;
                border-bottom: 1px solid #7e7c7cd7;
               div{
                display: flex;
                flex-direction: row wrap;
                padding: 10px;
                i{
                    color: $themeColor2;
                    font-size: 1.3em;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    font-weight: bold;
                    border-radius: 50%;
                    border: 2px solid $themeColor2;
                    display: flex;
                    justify-content: center;align-items: center;
                    align-content: center;justify-items: center;
    
                }
                
                p{
                    font-size: 1em;
                    color: $themeColor2;
                    line-height: 50px;
                    font-weight: bold;               
                }
               }
               p{
                font-size: 1.1em;
                font-weight: bold;
               }
            }
        }
    }
}

#Section4,#Section5{
    padding: 20px 10px 20px 75px;

    .container{
        padding: 20px;
        background-color: #a6ebd6ad;

        h4{
            color: $themeColor2;
            font-size: 2em;
        }
    }
}

#Section5{
    .container{
        background-color: #fff;

        .accordion{
            .accordion-item{
                button{
                    color:$themeColor2;
                    padding: 20px 5px;
                    font-size: 1em;
                    font-weight: bold;

                    i{
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}

#Section6{
    padding: 20px 10px;
    &>.container{
        &>div{
           margin: 30px 0;
            h6{
                color: $themeColor2;
                font-weight: 900;
                font-size: 1.5em;
            }
            p{
                font-weight: 700;
                margin: 0 10px;
            }
        }
    }
}

@media screen and (max-width:720px) {
    #Section1{
       &>div{
        &>.cover{

        }
        &>div:nth-child(2){
            width: 90%;

            &>h2{
                font-size: 1.1em;
            }
            &>p{
                font-size: 0.9em;
                width: 95%;
            }
        }
       }
    }

    #Section2{
        background-color: #5c5b5b3b;
        padding:10px;
    
        &>.container{
            &>div{
                h4{
                    font-size: 1.2em;
                }
                &>div{
                    &>p:nth-child(1){
                        font-size: 0.9em;
                    }
                }
            }    
         
        }
    }

    #Section3{
        padding: 20px 10px;
       .container{
        h4{
            padding: 10px 10px;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            color: $themeColor2;
            text-align: center;
            
        }
    
        &>div{
            display: flex;
            flex-direction: column;
    
            &>div{
                height: auto;
                margin: 10px auto;
                padding: 10px;
                border-bottom: 1px solid #7e7c7cd7;
                width: 90vw;
               div{
                display: flex;
                width: 100%;
                margin: 10px auto;
                flex-direction: column;
                align-items: center;
                padding: 10px;            
               
                i{
                    color: $themeColor2;
                    font-size: 1.3em;
                    display: inline-block;
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    border: 2px solid $themeColor2;
                    display: flex;
                    justify-content: center;align-items: center;
                    align-content: center;justify-items: center;
    
                }
                
                p{
                    font-size: 1em;
                    color: $themeColor2;
                    font-weight: bold;  
                    width: 100%; 
                    text-align: center; 
                    padding: 5px 0; 
                    font-weight: bold;      
                }
               }
               p{
                font-size: 1.1em;
                font-weight: bold;
               
               }
            }
        }
       }
    }

    #Section4{
        padding: 20px 10px;
        
    }
    #Section5{
        padding: 20px 10px;
        
        .container{
            h4{
                font-size: 1.2em;
                font-weight: bold;
            }

            .accordion{
                .accordion-item{
                    button{
                        font-size: 0.7em;
                        font-weight: bold;
                        i{
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }

    
    
    
}